{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bokosh</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'kobosh/hero_image.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'kobosh/style.css' %}">
  <style>
    #noOfItem{
      position: absolute;
      padding: 2px 7px 2px 7px;
      /* z-index: 999999; */
      top: -62%;
      left: 18px;
      /* height: 10px;
      width: 10px; */
      text-align: center;
      font-size: 10px;
      color: white;
      border-radius: 20px;
      background-color: black;
    }
  </style>
</head>

<body>

<!--  <div id="covering-div">-->
<!--    <div id='preloader'>-->
      <!-- <img src="{% static 'kobosh/bokoshPreloader.png' %}" alt="" /> -->
<!--    </div>-->
<!--</div>-->

  <nav>
    
    <div class="burger">
      <i class="fa-solid fa-bars"></i>

      
    </div>

    <div class="logo" id="nav-logo">
      <h2 onclick='location.href="{% url 'kobosh:home' %}"' | escapejs style="cursor: pointer;">BOKOSH</h2>
    </div>

    <ul>
      <li class="_home" onclick='location.href="{% url 'kobosh:home' %}"' | escapejs>HOME</li>
      <div class="all_li">
        <!-- onclick='location.href="{% url 'kobosh:cate' %}"' -->
        <li id="dt" class="onhover"   | escapejs>CATEGORIES <i class="fa-solid fa-chevron-down"></i></li> 

      <div name="" id="mySelect" >
        {% for c in categories %}
        <div id="list" onclick='location.href="{{ c.get_absolute_url }}"' | escapejs>{{ c.name }}</div>
        {% endfor %}
      </div>
      </div>

      <li id="pays" onclick='location.href="{% url 'kobosh:payment' %}"' | escapejs>PAYMENTS</li>

    </ul>
    <form id="search-form" action="{% url 'kobosh:search' %}" method="get">
      <input type="search" name="query" id="search-input" placeholder="Search Products" />
    </form>
    <div class="icons" id="allIcons">
      <i class="fa-solid fa-magnifying-glass" id="search"></i>
      <i onclick='location.href="{% url 'members:login_user' %}"' | escapejs id="profile" class="fa-solid fa-user"></i>
      <!-- <p id="noOfItem">0{{ cart_item_count }}</p> -->
      <i onclick='location.href="{% url 'cart:cart_detail' %}"' | escapejs id="cart"
        class="fa-solid fa-cart-shopping"></i>
    </div>
  </nav>




  {% block 'content' %}



  {% endblock %}


  <footer>
    <div class="foot_head">
      <div class="logo">
        <h2>BOKOSH</h2>
      </div>
      <div class="newsletter">
        <h3>We love to keep you updated with our new offers</h3>
        <h2>Subscribe to our newsletter now!</h2>
        <form action="" id="form">
          <i class="fa-solid fa-envelope" id="new_mail"></i>
          <input id="sub" type="email" placeholder="Enter Your Email" />
          <input id="subtle" type="submit" value="SUBSCRIBE NOW" />
        </form>
      </div>
    </div>
    <div class="foot_bottom">
      <div class="bt_left">
        <h3>CATEGORIES LINKS</h3>
        <hr>
        <ul>
          <li><a href=".">Men Collection</a></li>
          <li><a href=".">Women Collection</a></li>
          <li><a href=".">Kids Collection</a></li>
          <li><a href=".">Fashion Accessories</a></li>
          <li><a href=".">Other Categories</a></li>
        </ul>

        <ul class="right">
          <li><a href=".">Phones & Gadgets</a></li>
          <li><a href=".">Laptops & Accessories</a></li>
          <li><a href=".">TV & Electronics</a></li>
          <li><a href=".">Home Appliances</a></li>
          <li><a href=".">Furniture & Beddings</a></li>
        </ul>
      </div>
      <div class="bt_middle">
        <h3>OTHER LINKS</h3>
        <hr />
        <ul>
          <li><a href=".">Home</a></li>
          <li><a href=".">About Us</a></li>
          <li><a href=".">Shop</a></li>
          <li><a href=".">Account</a></li>
          <li><a href=".">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="bt_right">
        <h3>HOW CAN BOKOSH HELP YOU</h3>
        <hr />
        <ul>
          <li><a href=".">Delivery Anywhere in Nigeria</a></li>
          <li><a href=".">Shopping Online</a></li>
          <li><a href=".">Return & Refund Policy</a></li>
          <li><a href=".">Report a Problem</a></li>
          <li><a href=".">Our Offices & Warehouse</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <hr id="last_hr" />
  <div class="payment">
    <h3>PAYMENTS METHODS</h3>
    <h2>CONNECT WITH US</h2>
    <div class="socials">
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
    <!-- <img src="" alt="">
          <img src="" alt="">
          <img src="" alt=""> -->
  </div>
  <div class="copyright">
    <p>Copyright &copy; Bokosh 2023</p>

    <i onclick="location.href='.'" class="fa-solid fa-arrow-up" id="arrow"></i>
  </div>




  
  <script>
  function updateItemCount() {
            document.getElementById('noOfItem').innerText = {{ cart_item_count }};
        }
</script>

<script>
  const select = document.getElementById('mySelect');
  const butdrop = document.querySelector('.fa-chevron-down');
  const cate = document.querySelector('.onhover');
  cate.addEventListener('click', ()=> {
    select.classList.toggle('dropdown');
    butdrop.classList.toggle("show")
  })
</script>
  

  <script>
    let selectElement = document.getElementById('mySelect');
    selectElement.addEventListener('change', function() {
      const selectedValue = this.value;
      if (selectedValue !== '') {
        window.location.href = selectedValue;
      }
    });
  </script>


  <script src="https://kit.fontawesome.com/9da17deac8.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="{% static 'kobosh/scripts.js' %}"></script>
  <script>

      var body = document.getElementsByTagName('body')[0];
      var elementToShow = document.querySelector("nav input");
      var icons = document.querySelector(".icons");
      var button = document.getElementById("search");
      var profile = document.getElementById("profile");
      var cart = document.getElementById("cart");
      const mediaPhone = window.matchMedia('(max-width: 768px)')
      const mediaTab = window.matchMedia('(min-width: 768px) and (max-width: 1023px)');
      // body.addEventListener("click", function () {
      //   if (elementToShow.style.display !== "none") {
      //     elementToShow.style.display = "none";
      //   }
      // });


      if (mediaPhone.matches) {
        body.addEventListener("click", function (event) {
            if (!elementToShow.contains(event.target)) {
              elementToShow.style.display = "none";
              cart.style.display = "block";
              button.style.display = "block";
              button.style.left = "-75px";
              profile.style.display = "block";
              icons.style.left = '-27px';
            }
});

button.addEventListener("click", function(event) {
        event.stopPropagation();
        elementToShow.style.display = "block";
        cart.style.display = "none";
        profile.style.display = "none";
        button.style.display = "none";
        elementToShow.style.top = '.9pc'
        elementToShow.style.left = '15pc'
      });
      }
      if (mediaTab.matches) {
  
        body.addEventListener("click", function (event) {
            if (!elementToShow.contains(event.target)) {
              elementToShow.style.display = "none";
              cart.style.display = "block";
              button.style.left = "-96px";
              button.style.display = "block";
              profile.style.display = "block";
              icons.style.left = '-73px'
            }
});

button.addEventListener("click", function(event) {
        event.stopPropagation();
        elementToShow.style.display = "block";
        cart.style.display = "none";
        profile.style.display = "none";
        button.style.display = "none";
        elementToShow.style.top = '-2.4pc'
        elementToShow.style.left = '-4pc'
      });
} 
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var input = document.getElementById("search-input");
      var resultsContainer = document.getElementById("search-results");

      input.addEventListener("input", function () {
        var query = input.value;

        if (query.trim().length > 0) {
          fetch("/search/?query=" + encodeURIComponent(query))
            .then(function (response) {
              return response.json();
            })
            .then(function (data) {
              displayResults(data);
            });
        } else {
          resultsContainer.innerHTML = "";
        }
      });

      function displayResults(results) {
        var html = "";

        results.forEach(function (result) {
          html += "<div>" + result.title + "</div>";  // Customize based on your model

          // Append additional data or customize the result display as needed
        });

        resultsContainer.innerHTML = html;
      }
    });
  </script>

<script>
  const hamburgerMenu = document.querySelector('.hamburger-menu');
var body = document.querySelector('body');






btn = document.querySelector(".burger");

navlist = document.querySelector("ul");

bod = document.querySelector("#head");

btn1 = document.querySelector(".burger1");


btn.addEventListener("click", (event) => {
  btn.innerHTML = btn.innerHTML.includes("fa-xmark")
    ? `<i class="fa-solid fa-bars"></i>`
    : `<i class="fa-sharp fa-solid fa-xmark"></i>`;
      navlist.classList.toggle("clipped").checked;
      event.stopPropagation();

});

// body.addEventListener("click", (event) => {
//       event.stopPropagation();

//     navlist.classList.toggle("clipped").checked = false;
// });

</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Add the 'loaded' class to the body after the page has loaded
      document.body.classList.add('loaded');
  });
</script>
<script>
  let preloader = document.getElementById('preloader')
  let backGround = document.getElementById('covering-div')
  window.addEventListener("load", function(){
    preloader.style.display = 'none';
    backGround.style.display = 'none';
  })
</script>


</body>

</html>